#inner-box{
    height: 250px;
    width: 250;
    border-width: 20px;
    border-style: solid;
    border-color: pink;
    background-color: salmon;
}

#outer-box{
    background-color: teal;
    padding: 20px;
    height: 300px;
    width: 300;
}

.bg-img1{
    width: 30%;
    margin-left: 35%;
    border-radius: 20%;
    border: 5px solid violet
}