#demo01{
    border: 4px solid black;
    padding: 150px; 
    /* background-color: lightcoral; */
    background-image: url(https://www.petfinder.com/sites/default/files/images/content/siberian-husky-card-large.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 70%;
    height: 50px;
    margin: 10px;
    border: 5px solid purple;
    padding: 80px;
    box-sizing: content-box;
}

.box2{
    width: 70%;
    height: 50px;
    margin: 10px;
    border: 5px solid lightseagreen;
    padding: 80px;
    box-sizing: border-box;
}